@model IEnumerable<CodeFirstEF.Models.Kontakt>

<h2>Index</h2>

<div>

    @foreach(var item in Model)
    {
        <div>@item.KontaktID</div> <br/>
        <div>@item.Imie</div><br />
        <div>@item.Nazwisko</div> <br/>
        <div>@item.Email</div> <br/>
    }

    <a href="\Home\DodajKontakt">
        <input type="button"
               value="Dodaj"
               class="btn-success" />
    </a>

</div>